/* =========================================================
   THEME — Couleurs principales
   ========================================================= */
:root {
    --col_black: #0f0f0f;        /* fond principal */
    --col_white: #e6e6e6;        /* texte principal */
    --col_grey: #333333;         /* bordures */
    --col_lightorange: #ffaf79;       /* accent chaud */
    --col_orange: #eb6c1a;       /* accent chaud */
    --col_black2: #151515;       /* header */
    --col_black3: #1a1a1a;       /* cartes */
    --col_grey2: #555555;        /* texte secondaire */
    --col_light_blue:#96dcf8;
    --col_blue: #00adee;         /* accent principal */
    --col_blue_dark: #809dd2;    /* hover */
    --col_blue_dark2: #0e5488;

}

/* =========================================================
   GLOBAL
   ========================================================= */
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: var(--col_black);
    color: var(--col_white);
    line-height: 1.6;
}


 .page-bg {
    background: var(--col_black);
    position: relative;
}

.page-bg::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .75);
    backdrop-filter: blur(2px);
    z-index: -1;
}

.page-bg .container {
    max-width: 900px;
    margin: 0 auto;
    background: var(--col_black);
    padding: 40px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.bg-neuro {
    background-image: url("Images/Neurosciences/GCaMP-Banner.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg-cv {
    background-image: url("Images/Neurosciences/pngtree-resume-cover-seek-employer-photo-image_1320270.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg-dev {
    background-image: url("Images/Neurosciences/matrix-sur-le-fond-noir-63410626.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.tab {
    display: inline-block;
    width: 30px; /* équivalent d’une tabulation */
}

.tick {
    list-style-type: disc; /* puce classique */
    padding-left: 20px;    /* espace pour la puce */
}

/* =========================================================
   HEADER / NAVIGATION
   ========================================================= */
header {
    padding: 20px 40px;
    background: var(--col_black2);
    border-bottom: 1px solid var(--col_grey);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    margin-right: 20px;
    color: var(--col_orange);
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

nav a.current{
    color: var(--col_lightorange);
    cursor: default;
}

nav a:hover {
    color: var(--col_blue);
    cursor: pointer;
}

/* -----------------------------------
link
--------------------------------------*/
.lk{
    font-style: normal;
    text-decoration: none;
    color: var(--col_blue);
    cursor: pointer;
}

.lk:hover{
    color: var(--col_blue_dark);
}


.lkButton {
    background: var(--col_blue);
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: background 0.2s ease;
    margin: 10px;
    white-space: nowrap;
    cursor: pointer;
}

.lkButton:hover {
    background: var(--col_blue_dark);
}

/* =========================================================
   LAYOUT
   ========================================================= */
.container {
    max-width: 900px;
    margin: auto;
    padding: 25px;
}

/* =========================================================
   TITRES
   ========================================================= */
h1 {
    color: var(--col_blue);
}

h2 {
    color: var(--col_blue);
    font-size: 28px;
}


h3 { 
    font-weight: bold;
    color: var(--col_blue);
    font-size: 24px;
}


h4 {
    color: var(--col_blue);
    font-size: 18px;
}

.darkBlue{
        color: var(--col_blue_dark);
}
.orange{
        color: var(--col_orange);
}
.lightorange{
        color: var(--col_lightorange);
}

.underline{
    text-decoration: underline;
}

.justify{
    text-align: justify;
}

.flex1 {
    flex : 1;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    font-size: 28px;
    font-weight: bold;
    color: var(--col_light_blue);

    margin: 40px 0;
    min-height: 30px;
    max-height: 45px;
}
/* Les lignes à gauche et à droite */
.section-title::before,
.section-title::after {
    content: "";
    flex: 1;
    height: 2px;
    background: var(--col_light_blue);
}

.section-title2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    font-size: 28px;
    font-weight: bold;
    color: var(--col_light_blue);
    padding-top: 80px;
    margin: 40px;
        min-height: 30px;
    max-height: 45px;

}

/* Les lignes à gauche et à droite */
.section-title2::before,
.section-title2::after {
    content: "";
    flex: 1;
    height: 2px;
    background: var(--col_light_blue);
}

.section-titleLeft{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;

    font-size: 24px;
    font-weight: bold;
    color: var(--col_light_blue);
    min-height: 30px;
    max-height: 45px;
}

/* Les lignes à gauche et à droite */
.section-titleLeft::after {
    content: "";
    flex: 1;
    height: 1px;
    background: var(--col_light_blue);
}

ul{
    display: block;
    align-items: center;
    margin: 10px;
}
li{
    padding-top : 10px ;
    width:100%
}
/* =========================================================
   CARDS
   ========================================================= */
.card {
    background: var(--col_black3);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid var(--col_grey);
    display: block;
}


/* =========================================================
   CARD AVEC IMAGE À DROITE
   ========================================================= */
.card.card-img-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card.card-img-right .card-text {
    flex: 1;
}

.card.card-img-right .card-image img {
    width: 180px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    /* border: 1px solid var(--col_grey); */
}

.card h3 {
    margin-top: 20px;
    color: var(--col_blue);
}

.profile-card {
    display: flex;
    align-items: center;
    gap: 25px;
}

.profile-card .profile-photo {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 100%;
    border: 4px solid var(--col_orange);
}

.profile-card .profile-text {
    flex: 1;
}

/* Responsive */
@media (max-width: 700px) {
    .card.card-img-right {
        flex-direction: column;
        text-align: center;
    }

    .card.card-img-right .card-image img {
        width: 100%;
        max-width: 300px;
    }
}
.project {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    object-fit:scale-down;

}

.main-image-block {
    text-align: center;
    margin-bottom: 20px;
}

.main-image-caption {
    margin-top: 4px;
    font-size: 14px;
    color: var(--col_white);
    font-style: italic;
}

/* -----------------------------------
Art 3D 2D
--------------------------------------*/
/* Titre ArtStation */
.art-title-row {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 10px;
}

.art-title {
    color: var(--col_blue);
    text-decoration: none;
}

.art-title:hover {
    color: var(--col_light_blue);
}


/* Grille d’images */
.art-grid {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
    margin-bottom: 40px;
    padding-bottom: 40px;

    border-bottom: 1px solid var(--col_grey);
}

.art-grid2 {
    display: grid;
    grid-template-columns: repeat(5, 5fr);
    gap: 20px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--col_grey);

}

/* Miniatures */
.art-thumb {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.2s ease;
}

.art-thumb:hover {
    transform: scale(1.03);
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: none;
    justify-content: center;
    align-items: center;
    cursor: zoom-out;
    z-index: 9999;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    cursor: default;
    transform: scale(0.3);
    transition: transform 0.25s ease;
}

.lightbox.show img {
    transform: scale(1);
}

/* =========================================================
   HEADER PROFILE (Nom + Sous-titre + Photo)
   ========================================================= */
.header-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.header-profile.cv-version {
    gap: 20px; /* réduit l’espace uniquement pour le CV */
    justify-content: flex-start; /* évite l’écart énorme entre les colonnes */
}
.header-text h1 {
    margin: 0;
    font-size: 3rem;
    color: var(--col_blue);
    
    
}

.subtitle {
    margin-top: 10px;
    font-size: 1.3rem;
    color: var(--col_white);
}

/* Photo de profil */
.profile-photo {
    width:140px;
    height: 140px;
    object-fit:scale-down;
    border-radius: 100%;
    border: 4px solid var(--col_orange);
}



/* Responsive */
@media (max-width: 900px) {
    .header-profile {
        flex-direction: column;
        text-align: center;
    }

    .profile-photo {
        width: 260px;
        height: 260px;
    }

    .header-text h1 {
        font-size: 2.4rem;
    }
}

/* =========================================================
   SECTION CV
   ========================================================= */

/* Grille 4 colonnes */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1,110px));
    gap: 15px;
    margin-bottom: 40px;
}

/* Cartes de catégories */
.skill-card {
    padding: 10px;
    border-radius: 8px;
    color: var(--col_white);
    
}
.skill-card:hover {
    transform: scale(1.2);
}


/* Couleurs des cartes */
.skill-3d {
    background: #6d5d9f; /* violet foncé */
}

.skill-vr {
    background: #4d8fb6; /* bleu pétrole */
}

.skill-dev {
    background: #408f40; /* vert foncé */
}

.skill-neuro {
    background: #af4f4f; /* rouge brun */
}
.skill-langues {
    background: #d5c142; /* rouge brun */
}

/* Titre des cartes */
.skill-card h3 {
    margin-bottom: 15px;
    color: var(--col_black);
    text-align: center;
    font-size: 16px;
}

/* Grille d’icônes compacte */
.skills-icons.compact {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    text-align: center;
}

.skills-icons.compact .skill {
    display: flex;
    flex-direction: column; /* ← FORCÉ EN COLONNE */
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}

/* Icônes plus petites */
.skills-icons.compact img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

/* Texte sous icône */
.skills-icons.compact span {
    font-size: 0.8rem;
    margin-top: 4px;
    white-space: normal;
    text-align: center;
}


/* Responsive */
@media (max-width: 900px) {
    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .skills-grid {
        grid-template-columns: 1fr;
    }
}

/* Barre de niveau sous les icônes */
.skill-bar {
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background: var(--col_light_blue);
    position: relative;
    overflow: hidden;
    margin-top: 4px;
}

/* Barre remplie */
.skill-bar::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--col_blue_dark2);
    width: calc((100% / 5) * attr(data-level number));
}





/* =========================================================
   LISTE PUBLICATIONS (texte + bouton à droite)
   ========================================================= */

.pub-item {
    display: flex;
    align-items: center;          /* centre verticalement le bouton */
    gap: 20px;
    margin: 8px 0;
    position: relative;
    padding-left: 18px;           /* place pour la "puce" */
}

/* fausse puce */
.pub-item::before {
    content: "•";
    color: var(--col_white);
}

/* texte à gauche, peut faire 1 ou 2 lignes */
.pub-text {
    flex: 1;
    text-align: justify;
}

/* ========================
Contact
===========================*/
